@charset "utf-8";
/* This example css file defines the background, and how the text will appear on your site. As well as the No Flash Page. */
a:link {
	color: #090;
	text-decoration: none
}
a:active {
	color: #090;
	text-decoration: none
}
a:visited {
	color: #090;
	text-decoration: none
}
a:hover {
	color: #0A0;
	text-decoration: none
}
#sitebody {
	background-color:#060;
	color:#090;
	font-family: Arial;
	font-size: 18px;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ruffle-button, .flash-button {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.ruffle-description, .flash-description, .top-description {
	display: flex;
    flex-direction: row;
    justify-content: center;
	text-align:	center;
}
.top-title {
	display: flex;
    flex-direction: row;
    justify-content: center;
	text-align:	center;
	font-weight: 900;
	text-decoration: underline;
}
.back-button {
	display: flex;
    flex-direction: row;
    justify-content: center;
	text-align:	center;
	font-weight: 900;
}

