/* These files define the sizes of the files on your site, this file is for the default sizes so, e.g. if you publish a file from Flash Pro the resolution of that file is what you would put in here. */
#toonsize-full {
	width: 550px;
	height: 430px;
}
#toonsize-noannouncement {
	width: 550px;
	height: 420px;
}
/* navbar and announcements sizes */
#announcementsize {
	width: 550px;
	height: 10px;
}
#navsize-normal {
	width: 550px;
	height: 20px;
}
#announcementsize-bubbles {
	width: 427px;
	height: 8px;
}
#navsize-bubbles {
	width: 427px;
	height: 15px;
}
#announcementsize-tetris {
	width: 402px;
	height: 7px;
}
#navsize-tetris {
	width: 402px;
	height: 15px;
}
/* most content sizes */
#toonsize-normal {
	width: 550px;
	height: 400px;
}
#toonsize-teaserguide {
	width: 650px;
	height: 400px;
}
#toonsize-wide {
	width: 711px;
	height: 400px;
}
#toonsize-bubbles {
	width: 427px;
	height: 400px;
}
#toonsize-chromeerror {
	width: 1008px;
	height: 400px;
}
#toonsize-houseflix {
	width: 832px;
	height: 400px;
}
#toonsize-mx2004toon {
	width: 640px;
	height: 400px;
}
#toonsize-tetris {
	width: 402px;
	height: 400px;
}
#toonsize-toontastic {
	width: 550px;
	height: 413px;
}
#toonsize-5years {
	width: 550px;
	height: 410px;
}
/* 4th wall sizes */
#toonsize-4thwall {
	width: 1000px;
	height: 425px;
}
#navsize-4thwall, #announcementsize-4thwall {
	width: 550px;
	height: 0px;
}
/* hsgb sizes (there's too many) */
#toonsize-hsgb {
    position: absolute;
    width: 445px;
	height: 400px; 
    touch-action: none;
}
#toonsize-hsgb-border {
	width: 445px;
	height: 400px;
	position:absolute;
	z-index:2;
}
#toonsize-hsgb-homemenu {
	width: 445px;
	height: 400px;
    z-index: 3;
	opacity: 0;
}
#toonsize-hsgb-homemenu:hover {
	width: 445px;
	height: 400px;
    z-index: 3;
	opacity: 1;
}
#navsize-hsgb {
	width: 445px;
	height: 16px; 
}
#announcementsize-hsgb {
	width: 445px;
	height: 8px; 
}
/* popup sizes */
#popupsize-normal {
	width: 550px;
	height: 400px;
}
#popupsize-clock {
	width: 400px;
	height: 400px;
}
#popupsize-noclose, #wallpaper-picture {
	width: 550px;
	height: 400px;
}
/* no flash stuff */
#noflash-picture {
	width: 550px;
	height: 400px;
}
#navbar-picture {
	width: 550px;
	height: 20px;
}
#announcement-picture {
	width: 550px;
	height: 400px;
}
.ruffle-button, .flash-button {
	height: 90px;
}
.ruffle-description, .flash-description, .top-description {
	font-size: 10px;
}
.top-title, .back-button {
	font-size: 24px;
}